.partner__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 265px;
  background-color: #512689;
  max-width: 1440px;
  padding-top: 32px;
  padding-left: 80px;
  padding-right: 80px;
}

.partner__navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.partner__text {
  display: flex;
  flex-direction: column;
  max-width: 846px;
  margin-left: 32px;
  margin-top: 29px;
}

.partner__title {
  font-family: "Roboto";
  font-size: 64px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin: 0;
  padding: 0;
}

.partner__subtitle {
  font-family: "Roboto";
  color: var(--White, #fff);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  padding-top: 5px;
}

.partner__button {
  border: 1px solid #f8f8f8;
  color: white;
  background: transparent;
  width: 81px;
  height: 38px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  align-self: flex-start;
  justify-content: flex-start;
}

.partner__button_back {
  border: 1px solid #f8f8f8;
  color: white;
  background: transparent;
  display: inline-flex;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  align-self: flex-start;
  text-decoration: none;
  text-align: center;
  justify-content: flex-start;
}

.partner__descr {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 630px;
  margin-left: 188px;
  margin-right: 129px;
  margin-top: 0;
  margin-bottom: 0;
}

.partner__wrapper {
  display: flex;
  margin-top: 49px;
}

.partner__image {
  width: 187px;
  height: 187px;
  border-radius: 100px;
  background: lightgray 50% / cover no-repeat;
}

.partner__info {
  display: flex;
  align-self: flex-start;
  margin-right: auto;
  margin-left: 45px;
}

.partner__name {
  color: var(--White, #fff);
  font-family: "Roboto";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.partner__icon {
  margin-right: 8px;
}

.partner__number {
  color: var(--Black, #151317);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.187%;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}

.partner__mail {
  color: var(--Black, #151317);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 136.187%;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1200px) {
  .partner__wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 33px;
    align-items: center;
  }
  .partner__descr {
    margin-top: 34px;
    color: var(--Black, #151317);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 136.187%; /* 21.79px */
    width: none;
    max-width: 630px;
    margin-left: 3px;
    margin-right: 3px;
  }
  .partner__info {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .partner__header {
    height: 412px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .partner__title {
    color: var(--White, #fff);
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .partner__subtitle {
    color: var(--White, #fff);
    font-family: "Roboto";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .partner__text {
    margin: 0;
    align-items: center;
  }
}

@media screen and (max-width: 550px) {
  .partner__wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 33px;
    align-items:flex-start;
    margin-left: 3px;
    margin-right:3px;
  }
  .partner__button {
    border:none;
    padding: 0;
  }
  .partner__button_back {
    padding:0;
    border:none;
  }
}
